.main {
  display: flex;
  flex-direction: column;
  background-image: url('/back1.svg'); 
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.main_body{
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 40px;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.main_body p{
  text-align: center;
  line-height: 2.5rem;
}